{% extends  'template.html'%}
{% block content %}
{% if session['loged'] %}
<form method="post" >
<h2>Topic name*</h2>
<input type="text" name="name">
<h2>Translate (optional)</h2>
<h3>Write in</h3>
	<select name="translate_from">
	{% for i in languages[1:] %}
		<option>{{ i }}</option>
	{% endfor %}
	</select>
	<h3>Translate to...</h3>
	{% for i in languages %}
	<input type="checkbox" name="translate_to" value="{{ i }}">
	<label for="{{ i }}">{{ i }}</label><br>
	{% endfor %}
<h2>Html template (optional)</h2>
<textarea rows="5" cols="80" name="template" id="TITLE">
html code here , in body 
</textarea>
<br>
<input type="submit" name="">
<br>
</form>
{% else %}
<h1>please get loged!!</h1>
<p>error: you cannot perform this operation unless you are root.</p>
<p> please get loged with your token!!</p>
{% endif %}
{% endblock %}
