{% extends  'template.html'%}
{% block content %}
{% if session['loged'] %}
<center>
<h1>Delete</h1>
</center>
<hr>
<form method="post" >
<h2>Delete</h2>
<br>
<select>
	<option>{{ i }}</option>
</select>
<br>
<table>
	<tr>
		<th>blog</th>
		<th>delete</th>
	{% for i in topics%}
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	{% endfor %}
</table>
<!--input type="text" name="destiantion" required-->
<input type="submit" value="submit" required>
<br>
</form>
{% else %}
<h1>please get loged!!</h1>
<p>error: you cannot perform this operation unless you are root.</p>
<p> please get loged with your token!!</p>
{% endif %}
{% endblock %}
