	<!DOCTYPE html>
	<html lang="en">
		<meta charset="UTF-8"> 
		<head>
			<title>blog blog1</title>
		</head>
		<body>
				<h1>blog1</h1>
				<br>
			<center>
				<hr>
				
	<div id="entonces">
	<h2>p</h2>
	<br>
	<table width = "420">
		<tr>
			<td>
				<p>q</p>
			</td>
		</tr>
	</table>
	<p>Tue Mar 30 16:18:32 2021,by jero98772..</p>
	</div>
	<hr>
	
	<div id="entonces2">
	<h2>q</h2>
	<br>
	<table width = "420">
		<tr>
			<td>
				<p>p</p>
			</td>
		</tr>
	</table>
	<p>Tue Mar 30 16:18:32 2021,by jero98772..</p>
	</div>
	<hr>
	
			</center>
		</body>
	</html>
